.imgBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    flex-direction: column;
    gap: 40px;
}

.logoImg{
    width: 450px;
    height: 450px;
}

.logoText{
    font-size: 40px;
    font-family: "Truculenta", sans-serif;
    font-weight: 700;
    color: #ffffff;
}