.imgBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    flex-direction: column;
    gap: 40px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logoImg{
    width: 450px;
    height: 450px;
    animation: fadeIn 1s;
}

.logoText{
    font-size: 40px;
    font-family: "Truculenta", sans-serif;
    font-weight: 700;
    color: #ffffff;
    animation: fadeInText 1s;
}